@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    img,
    video {
        max-width: 100%;
        height: auto;
    }
}

@layer utilities {
    .content-auto {
        content-visibility: auto;
        contain-intrinsic-size: auto 500px;
    }

    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .section-title {
        @apply text-2xl sm:text-3xl font-semibold text-white;
    }
}
